@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Rubik&display=swap');

:root{
    /* color */
    --primary-color: #ff6b6b;
    --secondary-color: #794afa;
    --secondary-dark-color: #453c5c;

    --white-color: #fff;
    --light-bg-color:#f2f3f5;
    --light-text-color:#7c899a;
    --boder-color:#e5e8ec;
    --dark-color:#0a021c;

    /* fontweight */
    --fw8: 800;
    --fw7: 700;
    --fw6: 600;
    --fw5: 500;
    --fw3: 300;
    /* font size */
    --font-small: 13px;
    --font-smaller: 11px;

    /* % */
    --percent100: 100%;
    --percent50: 50%;

    /* transition color */
    --trans-background-color: background-color .3s, color .3s;
    --trans-background: background-color .3s;
    --trans-color: color .3s;
}
/* Reset CSS */
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

body{
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--dark-color);
    background-color: var(--white-color);
    overflow-x: hidden;
}
a{
    text-decoration: none;
    /* Reset lại màu mặc định */
    color: initial;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}
ul{
    list-style: none;
}
img{
    max-width: var(--percent100);
    vertical-align: middle;
}
input::placeholder{
    /* kế thừa cha chứa nó */
    font:inherit; 
}
h1{
    font-size: calc(1.3em + 1vw);
    font-weight: var(--fw8);
    line-height: 1;
}
h2{
    font-size: 2.5em;
}
h3{
    font-size: 1.2em;
    font-weight: var(--fw7);
}
h4{
    font-size: 1em;
    font-weight: var(--fw6);
}
strong{
    font-weight: var(--fw8);
}
/*Base  CSS */
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 0.938em;
}
.row{
    margin-left: -0.938em;
    margin-right: -0.938em;
}
.row .col{
    padding: 0 0.938em;
}

/* item xuống dòng */
.flexwrap{
    display: flex;
    flex-wrap: wrap;
}
/* item center */
.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* item center theo column */
.flexitem{
    display: flex;
    align-items: center;
}
/* item cach nhau theo column */
.flexcol{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-link a:hover{
    color: var(--secondary-color);
}
.second-links a:hover{
    color: var(--light-text-color);
}
.icon-small, .icon-lagre{
    display: flex;
    align-items: center;
    padding: 0 0.25em;
    font-weight: normal;

}
.icon-small {
    font-size: 1.25em;
    margin-left: auto;
}
.icon-lagre{
    font-size: 1.75em;
    padding: 0 0.75em 0 0;
}

.mobile-hide{
    display: none;
}
.object-cover img{
    position: absolute;
    object-fit: cover;
    width: var(--percent100);
    height: var(--percent100);
    display: block;
}
.product .media {
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
}
.primary-button, .secondary-button, .light-button{
    font-size: var(--font-small);
    padding: 0.9em 2em;
    height: auto;
    width: fit-content;
    border-radius: 2em;
    transition: var(--trans-background-color);
}
.primary-button{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.primary-button:hover{
    background-color: var(--dark-color);
}
.secondary-button{
    background-color: var(--secondary-dark-color);
    color: var(--white-color);
}
.secondary-button:hover{
    background-color: var(--light-bg-color);
    color: var(--secondary-dark-color);
}
.light-button{
    background-color: var(--secondary-dark-color);
    color: var(--white-color);
}
.view-all{
    font-size: var(--font-small);
    display: flex;
    gap: 1em;
    transition: var(--trans-color);
}
.mini-text{
    font-size: var(--font-smaller);
    color: var(--light-text-color);
}